<!DOCTYPE html>
<html lang="en" ng-app="tadaApp">
<head>
  <meta charset="UTF-8">
  <title>the frame</title>
  <link rel="stylesheet" href="app/tada.css">
</head>
<body>

<div>

  <h2>Tada</h2>

  <div ng-controller="TadaListController as todoList">
    <span>{{todoList.remaining()}} of {{todoList.todos.length}} remaining</span> [ <a href=""
                                                                                      ng-click="todoList.archive()">archive</a>
    ]
    [ <a href=""
         ng-click="todoList.refreshFromContainer()">Refresh from container</a> ]

    [ <a href=""
         ng-click="todoList.sendToContainer()">Send to container</a> ]

    <ul class="unstyled">
      <li ng-repeat="todo in todoList.todos">
        <input type="checkbox" ng-model="todo.done">
        <span class="done-{{todo.done}}">{{todo.text}}</span>
      </li>
    </ul>
    <form ng-submit="todoList.addTodo()">
      <input type="text" ng-model="todoList.todoText" size="30" placeholder="add new todo here">
      <input class="btn-primary" type="submit" value="add">
    </form>
  </div>
</div>


<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
<script src="app/tada.js"></script>

</body>
</html>